<footer class="bg-primary">
        <nav class="footer_nav">
        <ul>
          <%= link_to tweets_path do %>
            <li class="btn btn-light">Home</li>
          <% end %>
          <%= link_to new_tweet_path do %>
            <li class="btn btn-light">New Tweet</li>
          <% end %>
          </a>
        </ul>
      </nav>
      <p>© DIVIC Corp. All RIGHTS RESERVED.</p>
      <p>created by Mottttton</p>
</footer>