<header>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="bi bi-twitter-x"></i></a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Find Tweets" aria-label="Search">
        <button class="btn btn-light" type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </nav>
  <div class="title">TwitterClone</div>
</header>
